[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
playsound = "*"
pynput = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
pytest = "*"
setuptools = "*"

[requires]
python_version = "3.9"

[scripts]
tests = "python -m pytest"
